{% extends 'website/base.html' %}{% load static %} {% block styleArea %}{% endblock %}
<style></style>
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}"> {% block contentArea%}

<div id="rev_slider_5_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container slide-overlay" data-alias="classic4export" data-source="gallery">
    <!-- START REVOLUTION SLIDER -->
    <div id="rev_slider_5_1" class="rev_slider fullwidthabanner" data-version="5.4.8">
        <ul>
            <!-- SLIDE  -->
            <li data-index="rs-6" data-transition="slotzoom-horizontal" data-slotamount="1" data-easein="default" data-easeout="default" data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
                data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <!-- MAIN IMAGE -->

                <img src="{% static 'images/slides/slider-mainbg-003.jpg' %}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme" id="slide-6-layer-1" data-x="['left','left','left','left']" data-hoffset="['50','40','30','20']" data-y="['middle','middle','middle','middle']" data-voffset="['-126','-126','-86','-60']" data-fontsize="['60','60','60','38']"
                    data-lineheight="['70','70','70','50']" data-fontweight="['700','700','700','700']" data-color="#031b4e" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                    data-transform_out="opacity:0;s:1000;e:Power4.easeIn;" data-start="700" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                    data-type="text" data-responsive_offset="on" style="z-index: 13; font-family: Poppins,sans-serif;">
                    Welcome to <span class="ttm-textcolor-skincolor">Venktesh</span>
                </div>


                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme" id="slide-6-layer-2" data-x="['left','left','left','left']" data-hoffset="['50','40','30','20']" data-y="['middle','middle','middle','middle']" data-voffset="['-52','-52','-5','-10']" data-fontsize="['60','60','60','38']"
                    data-lineheight="['70','70','70','50']" data-fontweight="['700','700','700','700']" data-color="#031b4e" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                    data-transform_out="opacity:0;s:1000;e:Power4.easeIn;" data-start="900" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                    data-type="text" data-responsive_offset="on" style="z-index: 13; font-family: Poppins,sans-serif;">
                    Diagnostics Center
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme" id="slide-6-layer-3" data-x="['left','left','left','left']" data-hoffset="['50','40','-550','-520']" data-y="['middle','middle','middle','middle']" data-voffset="['26','26','35','18']" data-fontsize="['19','19','19','16']"
                    data-lineheight="['29','29','29','22']" data-fontweight="['400','400','400','400']" data-color="#5f6777" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                    data-transform_out="opacity:0;s:1000;e:Power4.easeIn;" data-start="1200" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                    data-type="text" data-responsive_offset="on">
                    Our mission is to provide high quality Diagnostic Reporting
                    <br /> for the most effective preventive and curative care.
                </div>

                <!-- LAYER NR. 4 -->
                <a class="tp-caption ttm-btn ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" href="#" target="_self" id="slide-6-layer-4" data-x="['left','left','left','left']" data-hoffset="['50','40','30','20']" data-y="['bottom','bottom','bottom','middle']"
                    data-voffset="['179','179','127','57']" data-fontsize="['15','15','15','15']" data-lineheight="['20','20','15','15']" data-fontweight="['700','700','700','700']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="opacity:0;s:1000;e:Power4.easeIn;" data-mask_out="x:inherit;y:inherit;" data-start="1500" data-splitin="none" data-splitout="none" data-textalign="['inherit','inherit','inherit','inherit']"
                    data-paddingtop="[14,14,11,11]" data-paddingright="[35,35,28,28]" data-paddingbottom="[13,13,10,10]" data-paddingleft="[35,35,28,28]" data-type="button" data-responsive_offset="on">View All
                    Services
                </a>

                <!-- LAYER NR. 5 -->
                <a class="tp-caption tp-resizeme ttm-icon ttm-icon_element-border ttm-icon_element-color-darkgrey ttm-icon_element-style-rounded ttm_prettyphoto" href="#" target="_self" id="slide-6-layer-5" data-x="['left','left','left','left']" data-hoffset="['278','278','-550','-550']"
                    data-y="['bottom','bottom','bottom','middle']" data-voffset="['183','183','98','86']" data-fontsize="['15','15','15','15']" data-lineheight="['46','46','38','38']" data-width="['46','46','38','38']" data-height="['46','46','38','38']"
                    data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="opacity:0;s:1500;e:Power4.easeIn;" data-start="1500" data-textalign="['center','center','center','center']"
                    data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">

                    <i class="fa fa-play pl-1"></i>
                </a>


                <!-- LAYER NR. 6 -->
                <a class="tp-caption tp-resizeme ttm_prettyphoto" href="#" target="_self" id="slide-6-layer-6" data-x="['left','left','left','left']" data-hoffset="['345','345','-550','-552']" data-y="['bottom','bottom','bottom','middle']" data-voffset="['199','199','112','99']"
                    data-fontsize="['15','15','14','14']" data-lineheight="['14','14','14','14']" data-fontweight="['700','700','700','700']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                    data-transform_out="opacity:0;s:1000;e:Power4.easeIn;" data-start="1500" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">How We
                    Work
                </a>

            </li>

            <li data-index="rs-7" data-transition="slotzoom-horizontal" data-slotamount="1" data-easein="default" data-easeout="default" data-masterspeed="1500" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
                data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <!-- MAIN IMAGE -->

                <img src="{% static 'images/slides/slider-mainbg-004.jpg' %}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>

                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme" id="slide-7-layer-1" data-x="['left','left','left','left']" data-hoffset="['50','40','30','20']" data-y="['middle','middle','middle','middle']" data-voffset="['-149','-149','-124','-88']" data-fontsize="['23','23','23','23']"
                    data-lineheight="['30','30','30','30']" data-fontweight="['400','400','400','400']" data-color="#3368c6" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                    data-transform_out="opacity:0;s:1000;e:Power4.easeIn;" data-start="700" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                    data-type="text" data-responsive_offset="on">
                    Biological Sciences Retreat
                </div>


                <!-- LAYER NR. 3 -->
                <div class="tp-caption tp-resizeme" id="slide-7-layer-3" data-x="['left','left','left','left']" data-hoffset="['50','40','30','20']" data-y="['middle','middle','middle','middle']" data-voffset="['-95','-95','-60','-42']" data-fontsize="['60','60','60','40']"
                    data-lineheight="['70','70','70','40']" data-fontweight="['700','700','700','700']" data-color="#031b4e" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                    data-transform_out="opacity:0;s:1000;e:Power4.easeIn;" data-start="900" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                    data-type="text" data-responsive_offset="on" style="z-index: 13; font-family: Poppins,sans-serif;">
                    Personal Care For Your
                </div>


                <!-- LAYER NR. 2 -->
                <div class="tp-caption tp-resizeme" id="slide-7-layer-2" data-x="['left','left','left','left']" data-hoffset="['50','40','30','20']" data-y="['middle','middle','middle','middle']" data-voffset="['-25','-25','20','7']" data-fontsize="['60','60','60','40']"
                    data-lineheight="['70','70','70','40']" data-fontweight="['700','700','700','700']" data-color="#031b4e" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                    data-transform_out="opacity:0;s:1000;e:Power4.easeIn;" data-start="900" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                    data-type="text" data-responsive_offset="on" style="z-index: 13; font-family: Poppins,sans-serif;">
                    Healthy <span class="ttm-textcolor-skincolor">Living</span>
                </div>


                <!-- LAYER NR. 4 -->
                <div class="tp-caption tp-resizeme" id="slide-7-layer-4" data-x="['left','left','left','left']" data-hoffset="['50','40','-550','-520']" data-y="['middle','middle','middle','middle']" data-voffset="['50','50','55','8']" data-fontsize="['19','19','19','16']"
                    data-lineheight="['30','30','30','22']" data-fontweight="['400','400','400','400']" data-color="#5f6777" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                    data-transform_out="opacity:0;s:1000;e:Power4.easeIn;" data-start="1200" data-textalign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                    data-type="text" data-responsive_offset="on">
                    Labostica is uatramodern laboratory services. Delivering newer
                    <br> molecules from our sate of the art laboratories
                </div>

                <!-- LAYER NR. 5 -->
                <a class="tp-caption ttm-btn ttm-btn-shape-rounded ttm-btn-style-fill ttm-btn-color-skincolor" href="#" target="_self" id="slide-7-layer-5" data-x="['left','left','left','left']" data-hoffset="['50','40','30','20']" data-y="['bottom','bottom','bottom','bottom']"
                    data-voffset="['160','160','105','60']" data-fontsize="['15','15','15','14']" data-lineheight="['20','20','16','15']" data-fontweight="['700','700','700','700']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                    data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;" data-transform_out="opacity:0;s:1000;e:Power4.easeIn;" data-start="1500" data-splitin="none" data-splitout="none" data-textalign="['inherit','inherit','inherit','inherit']"
                    data-paddingtop="[14,14,11,11]" data-paddingright="[35,35,30,30]" data-paddingbottom="[13,13,10,10]" data-paddingleft="[35,35,30,30]" data-type="button" data-responsive_offset="on">Visit Our Life
                    Sciences
                </a>

            </li>

        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
</div>
<!-- END REVOLUTION SLIDER -->

<!--site-main start-->
<div class="site-main">
    <!--features-section-->
    <section class="ttm-row features-section clearfix">
        <div class="container-fluid">
            <!-- row -->
            <div class="row align-items-center">
                <div class="col-md-4">
                    <!-- featured-imagebox -->
                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style4">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                <i class="ti ti-timer"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>9 to 5 Front-Desk</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Our front help desk is always open online & offline, for all information and inquiries subjected.</p>
                            </div>
                            <a class="ttm-btn ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-skincolor btn-inline" href="#">Contact Us Now<i class="ti ti-angle-double-right"></i></a>
                        </div>
                    </div>
                    <!-- featured-imagebox end-->
                </div>
                <div class="col-md-4 border-left border-right">
                    <!-- featured-imagebox -->
                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style4">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                <i class="ti ti-plug"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Experienced Medical Professionals</h5>
                            </div>
                            <div class="featured-desc">
                                <p>We are one of the best laboratories with high tech tools solutions & expertise mechanism.
                                </p>
                            </div>
                            <a class="ttm-btn ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-skincolor btn-inline" href="#">Contact Us Now<i class="ti ti-angle-double-right"></i></a>
                        </div>
                    </div>
                    <!-- featured-imagebox end-->
                </div>
                <div class="col-md-4">
                    <!-- featured-imagebox -->
                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style4">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                <i class="ti ti-split-h"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Our Services</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Our service area is wide. We are eagerly the best service providers to the laboratories nearby us</p>
                            </div>
                            <a class="ttm-btn ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-skincolor btn-inline" href="#">Contact Us Now<i class="ti ti-angle-double-right"></i></a>
                        </div>
                    </div>
                    <!-- featured-imagebox end-->
                </div>
            </div>
            <!-- row end -->
        </div>
    </section>
    <!--features-section end-->


    <!--about-section-->
    <section class="ttm-row about-section bg-img11 ttm-bgcolor-grey clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-xs-12 ml-auto">
                    <div class="ml_100 res-991-ml-0">
                        <!-- section title -->
                        <div class="section-title">
                            <div class="title-header">
                                <h5>About Us</h5>
                                <h2 class="title">we intend to provide a variety of Diagnostic and Imaging Tests</h2>
                            </div>
                            <div class="title-desc">At Venktesh Diagnostic Center, we intend to provide a variety of Diagnostic and Imaging Tests strengthened by precise reports and advanced machinery for an accurate evaluation of the type and magnitude of disease.</div>
                        </div>
                        <!-- section title end -->
                        <div class="row">
                            <div class="col-sm-6">
                                <!--featured-icon-box-->
                                <div class="featured-icon-box style1 icon-align-before-heading">
                                    <div class="featured-icon">
                                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                            <i class="flaticon-lab-1"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Modern
                                                <br /> Equipment
                                            </h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p class="text-justify">We provide the best results through the assistance of modern machinery Samsung HS70A 4D/5D advanced solution- A pioneer in the field of ultrasonography. <a href="#">Learn More</a></p>
                                        </div>
                                    </div>
                                </div>
                                <!-- featured-icon-box end-->
                            </div>
                            <div class="col-sm-6">
                                <!--featured-icon-box-->
                                <div class="featured-icon-box style1 icon-align-before-heading">
                                    <div class="featured-icon">
                                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                            <i class="flaticon-dna"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Individual
                                                <br /> Approach
                                            </h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p class="text-justify">With years of experience in Medical reporting and diagnostic imaging, we provide you with the best services and facilities to cater to your healthcare needs. <a href="#">Learn More</a></p>
                                        </div>
                                    </div>
                                </div>
                                <!-- featured-icon-box end-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-border ttm-btn-color-skincolor mt-15" href="#">What We Do!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row end -->
            </div>
        </div>
    </section>
    <!--about-section end-->


    <!--services-section-->
    <section class="ttm-row services-section-2 clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-9 m-auto">
                    <!-- section-title -->
                    <div class="section-title with-sep title-style-center_text">
                        <div class="title-header">
                            <h5>OUR SERVICES</h5>
                            <h2 class="title">Explore Our Main Services</h2>
                        </div>
                        <div class="title-desc">We at Venktesh Diagnostic Centre provide you with the best of services at our facility without compromising on the quality and accuracy of the reports.</div>
                    </div>
                    <!-- section-title end -->
                </div>
            </div>
            <!-- row end -->
            <div class="row ttm-boxes-spacing-15px">
                {% for dt in MainServices %}
                <div class="col-lg-4 col-md-6 col-sm-6 ttm-box-col-wrapper">
                    <!--featured-icon-box-->

                    <div class="featured-icon-box icon-align-top-content style3">
                        <div class="hover_icon"><i class="{{dt.icon}}"></i></div>
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-size-sm ttm-icon_element-style-round">
                                <i class="{{dt.icon}}"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>{{dt.name}}</h5>
                            </div>
                            <div class="featured-desc">
                                <p>{{dt.short_content|slice:135}}...</p>
                            </div>
                            <a class="ttm-btn ttm-btn-size-md ttm-icon-btn-right ttm-btn-color-dark btn-inline mt-15" href="#" tabindex="0">Read More!<i class="ti ti-angle-double-right"></i></a>
                        </div>
                    </div>
                    <!-- featured-icon-box end-->
                </div>
                {% endfor %}
                <div class="col-md-4 col-sm-6 ttm-box-col-wrapper">
                    <!--featured-icon-box-->
                    <div class="featured-icon-box">
                        <!-- ttm-box-view-overlay -->
                        <div class="col-bg-img-nine ttm-col-bgimage-yes ttm-col-bgcolor-yes ttm-bgcolor-darkgrey ttm-bg pb-15 pl-30 pr-30 res-991-pl-15 res-991-pr-15">
                            <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                                <div class="ttm-col-wrapper-bg-layer-inner"></div>
                            </div>
                            <div class="layer-content">
                                <div class="featured-icon pt-30 pb-90 mb-50 res-991-pb-50 text-right">
                                    <a class="" href="{% url 'website:service' %}" target="_self">
                                        <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-white ttm-icon_element-size-sm">
                                            <i class="ti ti-arrow-circle-right"></i>
                                        </div>
                                    </a>
                                </div>
                                <h5>View All Venktesh Diagnostics Services</h5>
                            </div>
                        </div>
                    </div>
                    <!-- ttm-box-view-overlay end -->
                </div>
            </div>
        </div>
    </section>
    <!--services-section-->

    <!--cta-section-->
    <section class="ttm-row cta-section ttm-bgcolor-skincolor bg-img8 ttm-bg ttm-bgimage-yes clearfix">
        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <!--container-->
            <div class="row">
                <!--row-->
                <div class="col-lg-8 m-auto">
                    <div class="mt-15 row-title res-991-mt-0 text-center ttm-textcolor-white">
                        <div class="ttm-play-icon-btn mb-35">
                            <div class="ttm-play-icon-animation">
                                <a href="https://youtu.be/7e90gBu4pas" target="_self" class="ttm_prettyphoto">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-rounded">
                                        <i class="fa fa-play"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- section title -->
                        <div class="section-title clearfix">
                            <div class="title-header">
                                <h2 class="title">We Ensure Safe Diagnoses And Effective Therapies</h2>
                                <h5>We Employ The Latest Technology</h5>
                            </div>
                        </div>
                        <!-- section title end -->
                        <div class="pt-20 pb-80 res-991-pb-0 res-991-pt-10">
                            <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-rounded ttm-btn-style-border ttm-btn-color-white" href="#">Get An Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--cta-section-->


    <!--fid-section-->
    <div class="ttm-row fid-section mt_80 res-991-mt-0 z-index-1 clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="ttm-bg ttm-col-bgcolor-yes ttm-bgcolor-white box-shadow">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                        <div class="layer-content">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <!-- ttm-fid -->
                                    <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon style2">
                                        <div class="ttm-fid-icon-wrapper ttm-textcolor-skincolor">
                                            <i class="ti ti-cup"></i>
                                        </div>
                                        <div class="ttm-fid-contents">
                                            <h4 class="ttm-fid-inner">
                                                <span data-appear-animation="animateDigits" data-from="0" data-to="143" data-interval="15" data-before="" data-before-style="sup" data-after="" data-after-style="sub" class="numinate">143
                                                </span>
                                                <sub>+</sub>
                                            </h4>
                                            <h3 class="ttm-fid-title">Awards Winning</h3>
                                        </div>
                                    </div>
                                    <!-- ttm-fid end -->
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <!-- ttm-fid -->
                                    <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon style2">
                                        <div class="ttm-fid-icon-wrapper ttm-textcolor-skincolor">
                                            <i class="flaticon-healthcare-and-medical-1"></i>
                                        </div>
                                        <div class="ttm-fid-contents">
                                            <h4 class="ttm-fid-inner">
                                                <span data-appear-animation="animateDigits" data-from="0" data-to="780" data-interval="15" data-before="" data-before-style="sup" data-after="" data-after-style="sub" class="numinate">780
                                                </span>
                                                <sub>+</sub>
                                            </h4>
                                            <h3 class="ttm-fid-title">Our Equipments</h3>
                                        </div>
                                    </div>
                                    <!-- ttm-fid end -->
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <!-- ttm-fid -->
                                    <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon style2">
                                        <div class="ttm-fid-icon-wrapper ttm-textcolor-skincolor">
                                            <i class="flaticon-magnifier"></i>
                                        </div>
                                        <div class="ttm-fid-contents">
                                            <h4 class="ttm-fid-inner">
                                                <span data-appear-animation="animateDigits" data-from="0" data-to="675" data-interval="15" data-before="" data-before-style="sup" data-after="" data-after-style="sub" class="numinate">675
                                                </span>
                                                <sub>+</sub>
                                            </h4>
                                            <h3 class="ttm-fid-title">Complete Cases</h3>
                                        </div>
                                    </div>
                                    <!-- ttm-fid end -->
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <!-- ttm-fid -->
                                    <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon style2">
                                        <div class="ttm-fid-icon-wrapper ttm-textcolor-skincolor">
                                            <i class="flaticon-support"></i>
                                        </div>
                                        <div class="ttm-fid-contents">
                                            <h4 class="ttm-fid-inner">
                                                <span data-appear-animation="animateDigits" data-from="0" data-to="457" data-interval="15" data-before="" data-before-style="sup" data-after="" data-after-style="sub" class="numinate">457
                                                </span>
                                                <sub>+</sub>
                                            </h4>
                                            <h3 class="ttm-fid-title">Industry Expertise</h3>
                                        </div>
                                    </div>
                                    <!-- ttm-fid end -->
                                </div>
                            </div>
                            <!-- row end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--fid-section end-->

    <!--procedure-section-->
    <section class="ttm-row procedure-section ttm-bgcolor-grey bg-img9 ttm-bg ttm-bgimage-yes z-index_1 mt_100 res-991-mt-0 clearfix">
        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-9 m-auto">
                    <!-- section-title -->
                    <div class="section-title with-sep title-style-center_text">
                        <div class="title-header">
                            <h5>Way We Work</h5>
                            <h2 class="title">Why Venktesh Diagnostics?</h2>
                        </div>
                        <div class="title-desc">At Venkatesh Diagnostic Center, we intend to provide a variety of Diagnostic and Imaging Tests strengthened by precise reports and advanced machinery for an accurate evaluation of the type and magnitude of disease.</div>
                    </div>
                    <!-- section-title end -->
                </div>
            </div>
            <!-- row end -->
            <div class="row">
                <!-- row -->
                <div class="col-md-4">
                    <!-- featured-imagebox -->
                    <div class="featured-icon-box icon-align-top-content text-center style4">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-white ttm-icon_element-size-md ttm-icon_element-style-rounded">
                                <i class="flaticon-lab-2"></i>
                                <span class="fea-number">01</span>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Modern Equipment</h5>
                            </div>
                            <div class="featured-desc">
                                <p>We provide the best results through the assistance of modern machinery Samsung HS70A 4D/5D advanced solution- A pioneer in the field of ultrasonography.</p>
                            </div>
                        </div>
                        <div class="arrow">
                            <img src="{% static 'images/arrow-1.png' %}" alt="" />
                        </div>
                    </div>
                    <!-- featured-imagebox end-->
                </div>
                <div class="col-md-4">
                    <!-- featured-imagebox -->
                    <div class="featured-icon-box icon-align-top-content text-center style4">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-white ttm-icon_element-size-md ttm-icon_element-style-rounded">
                                <i class="flaticon-healthcare-and-medical-1"></i>
                                <span class="fea-number">02</span>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Individual Approach</h5>
                            </div>
                            <div class="featured-desc">
                                <p>With years of experience in Medical reporting and diagnostic imaging, we provide you with the best services and facilities to cater to your healthcare needs.</p>
                            </div>
                        </div>
                        <div class="arrow flip-arrow">
                            <img src="{% static 'images/arrow-2.png' %}" alt="" />
                        </div>
                    </div>
                    <!-- featured-imagebox end-->
                </div>
                <div class="col-md-4">
                    <!-- featured-imagebox -->
                    <div class="featured-icon-box icon-align-top-content text-center style4">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-white ttm-icon_element-size-md ttm-icon_element-style-rounded">
                                <i class="flaticon-laboratory-3"></i>
                                <span class="fea-number">03</span>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Need results urgently?</h5>
                            </div>
                            <div class="featured-desc">
                                <p>At Our Center, our patients are our first priority, so to provide a wholesome experience we've introduced the facility of urgent reporting as and when needed.</p>
                            </div>
                        </div>
                    </div>
                    <!-- featured-imagebox end-->
                </div>
            </div>
    </section>
    <!--procedure-section end-->


    <!--broken-section-->
    <section class="ttm-row broken-section-3 bg-layer mt_80 res-991-mt-0 clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="col-bg-img-seven ttm-col-bgimage-yes ttm-bg ttm-col-bgcolor-yes ttm-left-span ttm-bgcolor-skincolor z-index-2 spacing-4">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                            <div class="ttm-col-wrapper-bg-layer-inner"></div>
                        </div>
                        <div class="layer-content">
                            <div class="section-title">
                                <div class="title-header">
                                    <h2 class="title">Know your doctor - Dr. Anil Kumar Kamboj</h2>
                                </div>
                            </div>
                            <p>Dr. Anil Kumar Kamboj, the owner of the center holds the prestigious qualification of M.B.B.S and D.M.R.D from King George Medical University, Lucknow, Uttar Pradesh. With years of experience in the field of Medicine and Radio-diagnosis,
                                Dr Kamboj has been serving the community with the same zeal and enthusiasm and his vision of integrating humanity with medicine for the betterment of society still stays strong.
                            </p>
                            <div class="sep_holder_box width-100 mt-35">
                                <span class="sep_holder"><span class="sep_line"></span></span>
                            </div>
                            <div class="section-title">
                                <div class="title-header">
                                    <h2 class="title">Our Misson</h2>
                                </div>
                            </div>
                            <p>Our Misson With our experienced medical professionals and up to date machinery, our mission is to provide high quality Diagnostic Reporting for the most effective preventive and curative care.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="col-bg-img-eight ttm-col-bgimage-yes ttm-bg ttm-right-span mt-80 res-991-mt-0">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                            <div class="ttm-col-wrapper-bg-layer-inner"></div>
                        </div>
                        <div class="layer-content">
                        </div>
                        <img src="{% static 'images/bg-image/col-bgimage-8.jpg' %}" class="ttm-equal-height-image" alt="bg-image">
                    </div>
                </div>
            </div>
            <!-- row end -->
        </div>
    </section>
    <!--broken-section end-->


    <!--portfolio-section-->
    <section class="ttm-row portfolio-section clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10 m-auto">
                    <!-- section-title -->
                    <div class="section-title with-sep title-style-center_text">
                        <div class="title-header">
                            <h5>WHAT WE DO</h5>
                            <h2 class="title">Our Latest Technology Results</h2>
                        </div>
                        <div class="title-desc">Our collaboration projects between the public sector, industry and academia bring a real impact for the our health and lab firms.</div>
                    </div>
                    <!-- section-title end -->
                </div>
            </div>
            <!-- row end -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="ttm-tabs tabs-style-01">
                        <ul class="tabs d-md-flex portfolio-filter">
                            <li class="tab active"><a href="#" data-filter="*">All</a></li>
                            {% for dt in MainGallery %}
                            <li class="tab"><a href="#" data-filter=".tab_{{dt.id}}">{{dt.name}}</a></li> {%endfor%}
                        </ul>
                        <div class="content-tab">
                            <!-- content-inner -->
                            <div class="row multi-columns-row ttm-boxes-spacing-15px isotope-project">
                                {% for glr in MainGallery %}{% for img in glr.gallerydetails_set.all %}
                                <div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6 tab_{{glr.id}}">
                                    <!-- featured-imagebox -->
                                    <div class="featured-imagebox featured-imagebox-portfolio ttm-portfolio-box-view1">
                                        <!-- ttm-box-view-overlay -->
                                        <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                            <!-- featured-thumbnail -->
                                            <div class="featured-thumbnail">
                                                <a href="#">
                                                    <img class="img-fluid" src="{{img.image.url}}" alt="image"></a>
                                            </div>
                                            <!-- featured-thumbnail end-->
                                            <div class="featured-iconbox ttm-media-link">
                                                <a class="ttm_prettyphoto ttm_image" title="Rehabilitation Center" data-rel="prettyPhoto" href="/{{img.image.url}}">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                            </div>
                                            <div class="ttm-box-view-content-inner">
                                                <div class="featured-content featured-content-portfolio">
                                                    <div class="featured-title">
                                                        <h5><a href="#">{{img.name}}</a></h5>
                                                    </div>
                                                    <span class="category">{{dt.name}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- ttm-box-view-overlay end-->
                                    </div>
                                    <!-- featured-imagebox -->
                                </div>
                                {% endfor %}{% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--portfolio-section-->

    <!--technology-section-->
    <section class="ttm-row technology-section bg-img7 bg-layer z-index_1 clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-6 col-md-12 ml-auto">
                    <div class="ttm-bg ttm-col-bgcolor-yes ttm-bgcolor-white spacing-7">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                        <div class="layer-content">
                            <!-- section title -->
                            <div class="section-title">
                                <div class="title-header">
                                    <h5>GENERAL PEOPLE</h5>
                                    <h2 class="title">Frequently Asked Question</h2>
                                </div>
                            </div>
                            <!-- section title end -->
                            <div class="accordion clearfix">
                                <!-- toggle -->
                                <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey ttm-control-right-true">
                                    <div class="toggle-title"><a href="#">How Cand I Book And Appoinment?</a></div>
                                    <div class="toggle-content">
                                        <div class="d-sm-flex align-items-center">
                                            <div class="toggle-text ml-15 res-575-ml-0 res-575-mt-10">Contact our helpline number to book an appointment with the doctor. Helpline number –7500028666,7500054666 Alternatively you can send your name, age and contact number at our email id dcvenktesh@gmail.comto
                                                book an appointment.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- toggle end -->
                                <!-- toggle -->
                                <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey ttm-control-right-true">
                                    <div class="toggle-title"><a href="#">What are The Timings of Venktesh Diagnostics
                                            Center?</a></div>
                                    <div class="toggle-content">
                                        <div class="d-sm-flex align-items-center">
                                            <div class="toggle-text ml-15 res-575-ml-0 res-575-mt-10">Monday to Saturday- 10 am to 6 pm Sunday- 10 am to 1 pm Emergency services are available 24/7.</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- toggle end -->
                                <!-- toggle -->
                                <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey ttm-control-right-true">
                                    <div class="toggle-title"><a href="#">What Are The Payment Opions Available?</a>
                                    </div>
                                    <div class="toggle-content">
                                        <div class="d-sm-flex align-items-center">
                                            <div class="toggle-text ml-15 res-575-ml-0 res-575-mt-10">Payment can be made at the reception desk via cash, card swipe, online banking and UPI.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- toggle end -->
                                <!-- toggle -->
                                <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey ttm-control-right-true">
                                    <div class="toggle-title"><a href="#">What Is The Procedure For Report
                                            Collection?</a></div>
                                    <div class="toggle-content">
                                        <div class="d-sm-flex align-items-center">
                                            <div class="toggle-text ml-15 res-575-ml-0 res-575-mt-10">Reports are available within an hour of the examination and can be collected at the reception.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- toggle end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row end -->
        </div>
    </section>
    <!--technology-section end-->

    </div>
    {% endblock %} {% block scriptArea %}
    <!-- Revolution Slider -->
    <script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'revolution/js/slider.js' %}"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->

    <script src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'revolution/js/extensions/revolution.extension.video.min.js' %}"></script> {% endblock %}